{% extends 'mobile.html' %}
{% load crispy_forms_tags %}
{% load staticfiles i18n compress %}
{% block content %}
  <style>
  </style>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="onboard">
          <h3>{% trans 'Register' context "forms.onboard" %}</h3>
          {% crispy form %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% compress js %}
    <script src="{% static 'wechat_corp_mobile/js/dropdown.js' %}"></script>
  {% endcompress %}
  <script>
    $(function () {
      $('#dropdowns').cascadingDropdown({
        selectBoxes: [
          {
            selector: '.js-hospital'
          },
          {
            selector: '.js-department',
            requires: ['.js-hospital'],
            source: function (request, response) {
              $.getJSON('{% url 'wechat:mobile:departments' %}', request, function (data) {
                response($.map(data, function (item, index) {
                  return {
                    label: item.name,
                    value: item.id,
                  };
                }));
              });
            }
          }
        ],
      });
    })
  </script>
{% endblock %}