{% extends 'mobile.html' %}
{% load crispy_forms_tags staticfiles %}
{% load i18n %}
{% block content %}
  <div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
      <h2 class="weui_msg_title">
        {% trans 'Welcome!' context 'forms.onboard' %}
      </h2>
      <p class="weui_msg_desc">
        {% trans 'Please long press the QR Code to follow our WeChat Public Platform' context 'forms.onboard' %}
      </p>
      <p class="weui_msg_desc"></p>
    </div>

    <div class="weui_opr_area">
      <img src="{% static 'wechat_corp_mobile/img/wechat_qrcode.jpg' %}" alt="">
    </div>
    <div class="weui_text_area">
      <p class="weui_msg_desc">{% trans 'Click here to logout' context 'forms.onboard' %}</p>
      <a href="{% url 'wechat:mobile:logout' %}">{% trans 'Logout' context 'forms.onboard' %}</a>
    </div>
  </div>
{% endblock %}