{% load staticfiles i18n compress %}
<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}YiChart{% endblock title %}</title>
  <meta name="description" content="">
  <meta name="author" content="Bruce Shi">
  {% block css %}
    {% compress css %}
      <link type="text/x-scss" href="{% static 'wechat_corp_mobile/css/bootstrap-yeti.scss' %}" rel="stylesheet">
    {% endcompress %}
    <link href="//res.wx.qq.com/open/libs/weui/0.4.3/weui.min.css" rel="stylesheet">
    {% compress css %}
      <link type="text/x-scss" href="{% static 'wechat_corp_mobile/css/index.scss' %}" rel="stylesheet">
    {% endcompress %}
  {% endblock %}
</head>

<body>

<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="weui_alert {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
    {% endfor %}
  {% endif %}
</div>


{% block content %}
{% endblock content %}


{% block modal %}{% endblock modal %}
{% block javascript %}
  <script src="//cdnjs.gtimg.com/cdnjs/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock javascript %}
</body>
</html>

