.weui_alert {
  width: 100%;
  line-height: 1.2;
  padding: 5px 10px;
  &.success {
    background: #04BE02;
    color: #eee;
  }

  &.error {
    background: #EF4F4F;
    color: #dddddd;
  }

  &.info {
    background: #bce8f1;
    color: #31708f;
  }
}


.onboard{
  padding: 20px;
}